/*
 * Custom styles
 */

 /* Map custom style */
.marker-cluster-small {
	background-color: rgba(93, 122, 255, 0.3);
}
.marker-cluster-small div {
    background-color: #2981ca;
}
.marker-cluster-small div span {
	color: white;
}

/* slider custom style */
.search-result-content .slide-item {
	padding: 0 5px;
}
.splide__arrow--next {
	right: -2em;
}
.splide__arrow--prev {
	left: -2em;
}

/* loading custom style */
.pharmacies-splide {
	display: none;
}
.search-result.active .pharmacies-splide{
	display: block;
}
.search-result.active .loading {
	display: none;
}
.loading {
	position: relative;
    height: 200px;
}
.loading .object {
	border-top-color: #2981ca;
	border-left-color: #2981ca;
}